:root{
    --bg-outside: #D8674F
    ;
    --bg-inside: #FFCDCD;
}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('../assets/josefinSans.ttf');
}

body {
    background-color: #1A66A2;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Josefin-Sans';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}

.controls-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    font-size: 20px;
}

.start_pause_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 770px) {
    .controls-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .start_pause_container {
        order: 3;
    }
}




.set_time{
    background: var(--bg-outside);
    padding: 0px 10px 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set_time h3 {
    margin: 10px auto
}


.downTime {
    margin-left: 8px;
}

.upTime {
    margin-right: 8px;
}
/*---------Timer styles------------*/

.timer-container{
    position: relative;
    margin-top: 100px;

   
}

.timer-work {
    animation: tilt-n-move-shaking 0.1s 50;
}

.timer-break {
    animation: tilt-n-move-shaking 0.1s 50;
}

.none{
    animation:none;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
 
  @keyframes tilt-d-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  } 

.timer-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    cursor: pointer;
}

.button-head{
    position: relative;
    width: 141px;
    height: 41px;
}
.button_head_background, .button_head_front {
    width: 141px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 18px;
}


.button_head_background{
    background: #F5FFF6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.button_head_front {
    background: var(--bg-outside);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 10px -1px 11px rgba(0, 0, 0, 0.25);
}

.button-body {
    width: 52px;
    height: 53px;
    background: var(--bg-outside);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -20px 30px rgba(0, 0, 0, 0.25);
}

.timer-outside{
    width: 500px;
    height: 500px;
    background: var(--bg-outside);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25), inset 0px 0px 47px #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.timer-inside {
    width: 435px;
    height: 435px;
    background: var(--bg-inside);
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.64), inset 0px 0px 12px rgba(0, 0, 0, 0.5);
    position: relative;
}

.timer-center {
    background: var(--bg-outside);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 32.5px;
    height: 32.5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big-ring {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    background: var(--bg-outside);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-ring {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--bg-outside);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-hand, .minute-hand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}

.second-hand svg, .minute-hand svg {
    position: absolute;
    bottom: 46%;
    left: 50%;
    transform: translateX(-50%);
}
.second-hand svg{
    bottom: 50%;
}

.tick{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.tick-thick p {
    font-size: 20px;
    margin-top: 45px;
}

.tick-thick::after {
    width: 5px;
    height: 30px;
    background: #0A0909;
    position: absolute; 
    top: 10px;
    left: 50%;
    content: "";
    border-radius: 15px;
    transform: translateX(-50%);
} 

.tick-thin::after {
    width: 2px;
    height: 20px;
    background: #0A0909;
    position: absolute; 
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border-radius: 10%;
}